{% extends "project/base.html" %}
{% block content %}

          <div class="media-body">
            <u>Problem title </u>
            <h2><a class="article-title" href="{% url 'problem-detail' problem.id %}">{{ problem.title }}</a></h2>
          <p class="text-muted">
                  #{{problem.id}} opened {{problem.created_time|date:"F d, Y"}} by {{problem.reported_by}}
          </p>
          </div>

  <hr />
  <br/>
  <h4>Assign user to the problem</h4>
  <br />

  {% for user in problem.assignees.all %}
    <article class="media content-section" style="padding: 0px; border-radius: 2px;">
      <div class="media-body" style="background-color: {{temp_label.color}} !important; color: white;">
        <h2><a class="article-title" style="color: white;" href="{% url 'user-detail' user.id %}">{{ user.username }}</a></h2>
        <span class="col-xs-1">
          <h3 class="text-success" style="color: white">Assigned</h3>
        </span>
      </div>
    </article>
  {% endfor %}

  {% for user in users %}
      <article class="media content-section" style="padding: 0px; border-radius: 2px;">
        <div class="media-body" style="background-color: {{label.color}} !important; color: white;">
          <h2>{{ user.user.username }}</h2>
          <h3><a class=" btn btn-success" style="color: white" href="/problem/{{problem.id}}/assign_user/{{user.id}}/assign">Assign
          </a></h3>
        </div>
    </article>

     {% empty %}
          <p>There are currently no users who can be assigned</p>

  {% endfor %}


{% endblock content %}




