{% extends "project/base.html" %}
{% block content %}
	<br>
    {% if project != None %}
        <h2><b> My collaborations </b></h2>   
        <article class="media content-section">
          <div class="media-body">
            <h2><a class="article-title" href="{% url 'project-detail' project.id %}">{{ project.title }}</a></h2>
            <a class="article-title" href="{{ project.git_repository }}">{{ project.git_repository }}</a>
          </div>
        </article>
    {% else %}
        There are currently no projects you are collaboration on.
    {% endif %}        
       
{% endblock content %}