{% extends "project/base.html" %}
{% block content %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'label-update' object.id %}">Edit</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'label-delete' object.id %}">Delete</a>
          </div>
      </div>
      <h3>
      <span class="label label-lg" style="background-color: {{object.color}} !important;">
        {{object.title}}
      </span>
    </h3>    
    </div>
  </article>
{% endblock content %}