{% extends "project/base.html" %}
{% block content %}
    {% for problem in problems %}
        <article class="media content-section">
          <!--<img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}"> -->
          <div class="media-body">
            <h2><a class="article-title" href="{% url 'problem-detail' problem.id %}">{{ problem.title }}</a></h2>
          <p class="text-muted">
                  #{{problem.id}} opened {{problem.created_time|date:"F d, Y"}} by {{problem.reported_by}}
          </p>  
          </div>
        </article>
    {% empty %}
          <p>There are currently no problems reported with this filter</p>    
    {% endfor %}
{% endblock content %}


