{% extends "project/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <article class="media content-section">
    <!--<img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}"> -->
    <div class="media-body">
      <div class="article-metadata">
        {% if object.reported_by == user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="#">Edit</a>
          </div>
        {% endif %}
      </div>
      <h2 class="article-title">{{ object.title }}</h2>
      <h5 class="article-title"><i>{{ object.description }}</i></h5>
      <p class="text-muted">
          #{{problem.id}} opened {{object.created_time|date:"F d, Y"}} by {{object.reported_by}}
            {% if object.opened == False %}
             <br>
              #{{object.id}} closed {{object.date_closed|date:"F d, Y"}} by {{object.closed_by}}
            {% endif %}
      </p>
      <br>
        {% if object.opened  %}
          <a href="/problem/{{object.id}}/close/">
            <button type="button" class="btn btn-danger">Close problem</button>
          </a>
        {% else %}
          <a href="/problem/{{object.id}}/open/">
            <button type="button" class="btn btn-success">Open problem</button>
          </a>
        {% endif %}

      <hr/>
      <div>
      <a href="set_milestone/">
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
        &nbsp;&nbsp;&nbsp;
        <strong>Milestone</strong>
      </a>
      <p>
          {{ object.milestone.title }}
      </p>
    </div>
    <hr/>

    <hr/>
    <div>
      <a href="apply_label/">
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
        &nbsp;&nbsp;&nbsp;
        <strong>Label</strong>
      </a>
      <div>
      {% for label in object.labels.all %}
        <span class="label label-lg" style="background-color: {{label.color}} !important; color: white; padding: 2px">
          {{label.title}}
      </span>
      {% endfor %}
      <div></div>
    </div>
    <hr/>

        {% for comment in object.comments.all %}
          <div class="content-section  mt-3">
            <h5>Comment: </h5>
            <h4><i>{{comment}}</i></h4>
        </div>
        {% endfor %}

      <br>
      <br>
       <div class="content-section">
        <form action="{% url 'problem-detail' object.id %}" method="POST">
            {% csrf_token %}
            <fieldset class=form-group>
                <legend class="border-bottom mb-4">Write a comment</legend>
                {{ form|crispy}}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Comment</button>
            </div>
        </form>
    </div>



    </div>
  </article>
{% endblock content %}
